.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 50px 20px 50px;
}

.navbar .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}
.nav-item {
  font-size: 22px;
  font-family: poppins;
  font-weight: normal;
}

.active-item {
  color: #fe5e35;
  font-weight: 600;
}

.intro-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
}

.intro-section .left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.intro-section .right-section .discount-content {
  position: absolute;
  top: 540px;
  right: 490px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: poppins;
  color: #ffffff;
  width: 150px;
}

.intro-section .right-section .discount-content h4 {
  padding: 0;
  font-weight: 500;
  font-size: 15px;
}

.intro-section .right-section .discount-content h1 {
  padding: 0;
  margin: 0;
  line-height: 0;
  font-weight: 900;
  text-decoration: none;
  font-size: 45px;
}

.right-section .headphone-div .discount {
  position: absolute;
  top: 530px;
  right: 500px;
  bottom: 40px;
  width: 130px;
  filter: drop-shadow(2px 6px 2px #2e2e2e);
}

.right-section .dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  flex-wrap: wrap;
}

.dots .dot {
  height: 35px;
  width: 35px;
  border-radius: 100%;
}
.dots .yellow-dot {
  background-color: #fff53b;
}
.dots .tomato-dot {
  background-color: #fe5e35;
}

.dots .black-dot {
  background-color: #000000;
}

.action-btn {
  border: 0;
  text-decoration: none;
  height: 60px;
  width: 190px;
  font-size: 20px;
  font-family: poppins;
  border-radius: 50px;
  margin: 20px;
  background-color: #fe5e35;
  color: #ffffff;
}
.headphones {
  width: 550px;
}

.left-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.left-section h3 {
  display: flex;
  font-weight: normal;
  font-size: 40px;
  font-family: poppins;
}
.left-section h3 img {
  width: 50px;
  margin-left: 15px;
}
.left-section .action-btns {
  display: flex;
}

.left-section h1 {
  margin-top: 10px;
  padding: 0;
  font-size: 80px;
  font-family: Fredoka One;
  font-weight: 600;
  line-height: 0;
}

.sub-headlines .sub-headline{
  font-size:26px;
  font-weight:normal;
  font-family: poppins;
  display: flex;

}


.sub-headline .circlePlus{
  text-align: center;
  width:45px;
  background-color: #FE5E35;
  border-radius: 100%;
  margin-right:20px;

}

.text{
  margin:0;
  font-family: poppins;
  font-size:17px;
  width:1000px;


}