.backcover{
    position: absolute;
    top:0;
    right:0;
    z-index: -1;
}

.sidecover{
    position: absolute;
    right:90px;
    top:100px;
}

.vector-img{
    position: absolute;
    left:1000px;
    bottom:200px;
}

.vector-dot{
    position: absolute;
    left:1060px;
    bottom:295px;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right:100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar .nav-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:500px;
    font-family: 'Roboto', sans-serif;
    color:#4E4A90;
    font-size: 18px;
   
}

.signin-btn{
    border:none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:white;
    background-image:linear-gradient(#E1A2B8, #9F2BC1); 
    height:20px;
    width:70px;
    border-radius: 20px;
}

.left-section{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin:100px;
    font-family: 'Roboto', sans-serif;
}

.left-section h1{
    font-size: 80px;
    color:#4E4A90;
    font-weight: 600;

}

.left-section h4{
    text-decoration: none;
    font-weight: normal;
    width:400px;
    line-height:25px;
    color:#4E4A90;
    font-size: 20px;
}

.learn-more-btn{
 
    border:none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:white;
    background-image:linear-gradient(#E1A2B8, #9F2BC1); 
    height:60px;
    width:250px;
    border-radius: 40px; 
    font-size: 25px;  
    font-weight: 600; 
    margin-top: 50px;

}
